/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* My Code */

.section-width {
    min-width: 180px;
    max-width: 1440px;
    margin: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}

.nav-bar p {
    color: #F9FAF8;
    font-size: 24px;
}

.nav-bar ul {
    display: flex;
    gap: 20px;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-main {
    padding: 52px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    width: max-content;
    padding: 12px 32px;
    font-weight: 800;
    font-size: 24px;
}

.hero-image {
    color: #E5E7EB;
    background-color: rgb(106, 104, 117);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
}

.information {
    text-align: center;
    padding: 52px;
}

.information h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding-bottom: 52px;
}

.information .cards {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 52px;
}

.card .border {
    border: 4px solid #3882F6;
    border-radius: 8px;
    width: 160px;
    height: 160px;
}

.card .card-text {
    width: 160px;
}

.quote {
    background-color: #E5E7EB;
    padding: 78px;
}

.quote .actual-quote {
    color: #6d809b;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 75%;
    margin: auto;
    padding-bottom: 16px;
}

.quote .the-quoter {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    text-align: right;
    width: 75%;
    margin: auto;
}

.cta {
    padding: 52px;
    margin: auto;
}
.cta-blue {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 32px 72px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 75%;
    margin: auto;
}
.cta-text {
    flex: 1;
}
.cta-upper {
    font-size: 28px;
    font-weight: 800;
}

.cta-lower {
    color: #E5E7EB;
}

.cta-button {
    /* display: flex; */
    align-self: center;
}
.cta-button button{
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    background-color: #3882F6;
    font-size: 24px;
    color: #F9FAF8;
    padding: 8px 32px;
    min-width: max-content;
    max-height: min-content;
}


.footer {
    background-color: #1F2937;
}

.copyright {
    text-align: center;
    font-size: 18px;
    padding: 24px;
    color: #E5E7EB;
}